@model KiraAracWeb.Models.DashboardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/tema/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="~/tema/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/tema/assets/libs/css/style.css">
<link rel="stylesheet" href="~/tema/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" href="~/tema/assets/vendor/charts/chartist-bundle/chartist.css">
<link rel="stylesheet" href="~/tema/assets/vendor/charts/morris-bundle/morris.css">
<link rel="stylesheet" href="~/tema/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/tema/assets/vendor/charts/c3charts/c3.css">
<link rel="stylesheet" href="~/tema/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

<div class="row">

    

    

   

    <div class="col-md-4">
        <img src="/Dashboard/GünlükKiralananOrtalama" alt="Chart-1" />
    </div>
    <div class="col-md-4">
        <img src="/Dashboard/Kazanc" alt="Chart-1" />
    </div>
    <div class="col-md-4">
        <img src="/Dashboard/km" alt="Chart-1" />
    </div>
    
</div>
<script src="~/tema/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- bootstap bundle js -->
<script src="~/tema/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="~/tema/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- main js -->
<script src="~/tema/assets/libs/js/main-js.js"></script>
<!-- chart chartist js -->
<script src="~/tema/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<!-- sparkline js -->
<script src="~/tema/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- morris js -->
<script src="~/tema/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="~/tema/assets/vendor/charts/morris-bundle/morris.js"></script>
<!-- chart c3 js -->
<script src="~/tema/assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="~/tema/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<script src="~/tema/assets/vendor/charts/c3charts/C3chartjs.js"></script>
<script src="~/tema/assets/libs/js/dashboard-ecommerce.js"></script>