@model IEnumerable<AracKiralamaWebSoap.AracWebService.Arac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="slideslow-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <h1>BUGÜN ARABA KİRALA!</h1>

                            <div class="book-ur-car">
                                <form action="index2.html">
                                    @*<div class="pick-location bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Pick Location</option>
                                            <option value="1">Dhaka</option>
                                            <option value="2">Comilla</option>
                                            <option value="3">Barishal</option>
                                            <option value="3">Rangpur</option>
                                        </select>
                                    </div>*@

                                    <div class="pick-date bookinput-item">
                                        <input id="startDate2" placeholder="Kiralama Günü" />
                                    </div>

                                    <div class="retern-date bookinput-item">
                                        <input id="endDate2" placeholder="Geri İade günü" min="@DateTime.Now" />
                                    </div>

                                    <div class="car-choose bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Choose Car</option>
                                            <option value="1">BMW</option>
                                            <option value="2">Audi</option>
                                            <option value="3">Lexus</option>
                                        </select>
                                    </div>

                                    <div class="bookcar-btn bookinput-item">
                                        <button type="submit">Arac Kirala</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Arabanızı Seçin</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-content-wrap">
                   
                    <!-- Choose Area Tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- Popular Cars Tab Start -->
                        <div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Popular Cars Content Wrapper Start -->
                            <div class="popular-cars-wrap">
                                <!-- Filtering Menu -->
                                <div class="popucar-menu text-center">
                                    <a href="#" data-filter="*" class="active">all</a>
                                    <a href="#" data-filter=".con">Conver</a>
                                    <a href="#" data-filter=".hat">Truck</a>
                                    <a href="#" data-filter=".mpv">MPV</a>
                                    <a href="#" data-filter=".sedan">Sedan</a>
                                    <a href="#" data-filter=".suv">SUV</a>
                                </div>

                                <!-- Filtering Menu -->
                                <!-- PopularCars Tab Content Start -->
                                <div class="row popular-car-gird">
                                    <!-- Single Popular Car Start -->
                                    @foreach (var item in Model)
                                    {

                                   

                                        <div class="col-lg-4 col-md-6 con suv mpv">
                                            <div class="single-popular-car">
                                                <div class="p-car-thumbnails">
                                                    <a class="car-hover" href="~/Content/img/car/car-1.jpg">
                                                        <img src="~/Content/img/car/car-1.jpg" alt="JSOFT">
                                                    </a>
                                                </div>

                                                <div class="p-car-content">
                                                    <h3>
                                                        <a href="/Home/ArabaDetay">@item.AracAdi</a>
                                                        <span class="price"><i class="fa fa-tag"></i> ₺55/günlük</span>
                                                    </h3>

                                                    <h5>HATCHBACK</h5>

                                                    <div class="p-car-feature">
                                                        <a href="#">2017</a>
                                                        <a href="#">manual</a>
                                                        <a href="#">AIR CONDITION</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <!-- PopularCars Tab Content End -->
                            </div>
                            <!-- Popular Cars Content Wrapper End -->
                        </div>
                        <!-- Popular Cars Tab End -->
                        <!-- Newest Cars Tab Start -->
                        <div class="tab-pane fade" id="newest_cars" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- Newest Cars Content Wrapper Start -->
                            <div class="popular-cars-wrap">
                                <!-- Filtering Menu -->
                                <div class="newcar-menu text-center">
                                    <a href="#" data-filter="*" class="active">all</a>
                                    <a href="#" data-filter=".toyota">toyota</a>
                                    <a href="#" data-filter=".bmw">bmw</a>
                                    <a href="#" data-filter=".audi">audi</a>
                                    <a href="#" data-filter=".tata">Tata</a>
                                </div>

                                <!-- Filtering Menu -->
                                <!-- NewestCars Tab Content Start -->
                                <div class="row newest-car-gird">
                                    <!-- Single Newest Car Start -->
                                    <div class="col-lg-4 col-md-6 tata audi">
                                        <div class="single-new-car">
                                            <div class="p-car-thumbnails">
                                                <a class="car-hover" href="~/Content/img/car/car-6.jpg">
                                                    <img src="~/Content/img/car/car-6.jpg" alt="JSOFT">
                                                </a>
                                            </div>

                                            <div class="p-car-content">
                                                <h3>
                                                    <a href="/Home/ArabaDetay">Toyota RAV4 EV</a>
                                                    <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                </h3>

                                                <h5>Toyota</h5>

                                                <div class="p-car-feature">
                                                    <a href="#">2018</a>
                                                    <a href="#">Auto</a>
                                                    <a href="#">Non AIR CONDITION</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Newest Car End -->
                                    <!-- Single Newest Car Start -->
                                    <div class="col-lg-4 col-md-6 bmw tata toyota">
                                        <div class="single-new-car">
                                            <div class="p-car-thumbnails">
                                                <a class="car-hover" href="~/Content/img/car/car-5.jpg">
                                                    <img src="~/Content/img/car/car-5.jpg" alt="JSOFT">
                                                </a>
                                            </div>

                                            <div class="p-car-content">
                                                <h3>
                                                    <a href="/Home/ArabaDetay">Toyota RAV4 EV</a>
                                                    <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                </h3>

                                                <h5>Toyota</h5>

                                                <div class="p-car-feature">
                                                    <a href="#">2018</a>
                                                    <a href="#">Auto</a>
                                                    <a href="#">Non AIR CONDITION</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Newest Car End -->
                                    <!-- Single Newest Car Start -->
                                    <div class="col-lg-4 col-md-6 bmw">
                                        <div class="single-new-car">
                                            <div class="p-car-thumbnails">
                                                <a class="car-hover" href="~/Content/img/car/car-4.jpg">
                                                    <img src="~/Content/img/car/car-4.jpg" alt="JSOFT">
                                                </a>
                                            </div>

                                            <div class="p-car-content">
                                                <h3>
                                                    <a href="/Home/ArabaDetay">Toyota RAV4 EV</a>
                                                    <span class="price"><i class="fa fa-tag"></i> $35/day</span>
                                                </h3>

                                                <h5>Toyota</h5>

                                                <div class="p-car-feature">
                                                    <a href="#">2018</a>
                                                    <a href="#">Auto</a>
                                                    <a href="#">Non AIR CONDITION</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Newest Car End -->
                                </div>
                                <!-- NewestCars Tab Content End -->
                            </div>
                            <!-- Newest Cars Content Wrapper End -->
                        </div>
                        <!-- Newest Cars Tab End -->
                       
                    </div>
                    <!-- Choose Area Tab content -->
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>